/geometrix/Debug/geometrix.log
/geometrix/x64/Release/geometrix.log
/geometrix/x64/Debug/geometrix.log
/geometrix/x64/DebugAimsun/geometrix.log
/geometrix.opensdf
/geometrix.sdf
/geometry_test/Debug/geometry_test.tlog/CL.read.1.tlog
/geometry_test/Debug/geometry_test.tlog/CL.write.1.tlog
/geometry_test/Debug/geometry_test.tlog/cl.command.1.tlog
/geometry_test/Debug/geometry_test.tlog/geometry_test.lastbuildstate
/geometry_test/Debug/geometry_test.tlog/link.command.1.tlog
/geometry_test/Debug/geometry_test.tlog/link.read.1.tlog
/geometry_test/Debug/geometry_test.tlog/link.write.1.tlog
/geometry_test/Debug/vc120.idb
Release
.vs
Debug
x64
/geometrix.VC.VC.opendb
/geometrix.VC.db
/geometry_test/geometry_log.hpp
/packages/boost.1.60.0.0
/geometry_test/packages.config
/bin/project-cache.jam
/doc/html
/geometrix/utility/*.swp
/geometrix/algorithm/*.swp
/geometrix/numeric/*.swp
/geometrix/numeric/detail/*.swp
